@font-face {
    font-family: "TTDrugs";
    src: url(./font/TTDrugs-Thin.otf);
}
@select: rgb(40, 207, 68);
@create: rgb(38, 47, 168);
@edit: rgb(218, 214, 31);
@delete: rgb(197, 20, 20);

body {
    color: white;
    background-color: dimgray;
    font-family: "TTDrugs";
    font-size: 20px;
}
debug {
    .debug-buttons {
        &-edit {
            margin: 0px 5px;
            &:hover {
                background-color: @edit;
            }
        }
        &-delete {
            padding: 0px 5px;
            &:hover {
                background-color: @delete;
            }
        }
    }
    &-tree {
        .debug-buttons;
    }
    &-branch{
        .debug-buttons;
    }
    &-leaf {
        .debug-buttons;
    }
}
home {
    display: flex;
    flex-direction: column;
    &-add-branch {
        margin: 20px 0px 0px 40px;
        display: flex;
        flex-direction: row;
        &-label {
            margin: 0px 0px 0px 10px;
        }
        &-button {
            padding: 5px;
            &:hover {
                background-color: @create;
            }
        }
    }
}
home-tree {
    &-add-button {
        padding: 5px;
        &:hover {
            background-color: @create;
        }
    }
    &-label {
        margin: 0px 0px 0px 20px;
        &:hover {
            background-color: @select;
        }
    }
}
home-branch {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 40px;
    &-add {
        &-button {
            margin: 0px 0px 0px 10px;
            padding: 5px;
            &:hover {
                background-color: @create;
            }
        }
    }
}
home-leaf {
    &-tick {
        margin: 0px 0px 0px 10px;
    }
}