home {
    display: flex;
    flex-direction: column;
    &-add-branch {
        margin: 20px 0px 0px 40px;
        display: flex;
        flex-direction: row;
        &-label {
            margin: 0px 0px 0px 10px;
        }
        &-button {
            padding: 5px;
            &:hover {
                background-color: aqua;
            }
        }
    }
}
home-tree {
    &-add-button {
        padding: 5px;
        &:hover {
            background-color: aqua;
        }
    }
    &-label {
        margin: 0px 0px 0px 20px;
        &:hover {
            background-color: aqua;
        }
    }
}
home-branch {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 40px;
}
home-leaf {
    &-tick {
        margin: 0px 0px 0px 10px;
    }
}